include sidebar

- var production = true

- var year = new Date().getFullYear()
// TODO: Add subfolder for projects (i.e. cegielski would be at https://www.nytpu.com/projects/cegielski)
if production
  - var entries = {"home": "https://www.nytpu.com/", "about": "https://www.nytpu.com/about", "projects": "https://www.nytpu.com/project-directory"}
  - var projects = {"photo printing timer": "https://www.nytpu.com/projects/dev-timer", "untitled gba game": "https://www.nytpu.com/projects/gbagame", "cegielski gif archive (warning: huge page size)": "https://www.nytpu.com/projects/cegielski"}

doctype html
html(lang=en)
  head
    block head
      meta(charset='utf-8')
      meta(name='theme-color', content='#ffffff')
      meta(name='viewport', content='width=device-width, initial-scale=1.0')
      meta(name='author', content='nytpu')
      meta(name='description', content="otiose electronics projects")

      link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css2?family=Open+Sans')
      link(rel='stylesheet', type='text/css', href='/css/main.css')

  body
    +sidebar(current)
    div.content
      block content

    div.footer
      // Redefine block footer in extends file to allow changing footer content.
      block footer
        p &#169; #{year}. for additional copyright info see #[a(href=entries['about']) about].

