include sidebar

- var production = true

- var year = new Date().getFullYear()
// TODO: Add subfolder for projects (i.e. cegielski would be at https://www.nytpu.com/projects/cegielski)
if production
  - var entries = {"Home": "https://www.nytpu.com/", "About": "https://www.nytpu.com/about", "Projects": "https://www.nytpu.com/projects", "Blog": "https://tilde.team/~nytpu/blog/"}
  - var nonindex_entries = ['https://www.nytpu.com/cegielski']
else
  - var entries = {"Home": "file:///run/media/alexgentilucci/Storage/projects/nytpu.com/index.html", "About": "file:///run/media/alexgentilucci/Storage/projects/nytpu.com/about.html", "Projects": "file:///run/media/alexgentilucci/Storage/projects/nytpu.com/projects.html", "Blog": "https://tilde.team/~nytpu/blog/"}
  - var nonindex_entries = ['file:///run/media/alexgentilucci/Storage/projects/nytpu.com/cegielski.html']

doctype html
html(lang=en)
  head
    block head
      meta(charset='utf-8')
      meta(name='theme-color', content='#ffffff')
      meta(name='viewport', content='width=device-width, initial-scale=1.0')
      meta(name='author', content='nytpu')
      meta(name='description', content="A site for things and stuff")

      link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css2?family=Open+Sans')
      link(rel='stylesheet', type='text/css', href='./css/main.css')

  body
    +sidebar(current)
    div.content
      block content

    div.footer
      // Redefine block footer in extends file to allow chaniging footer content.
      block footer
        p &#169; #{year}. For additional copyright info see #[a(href=entries['About']) About].

    script(type='text/javascript', src='./js/main.js')
