mixin sidebar(current)
  .sidebar
    ul
      li
        h2 
          a(href=entries['Home']) nytpu.com
      each link, name in entries
        li
          a(href=link id=current==name ? 'selected' : '') #{name}
