extends include/layout

block prepend head
  - var current = ''
  title 404 not found

block content
  div#e404
    h1 error 404
    h2 page not found
    h3 maybe #[a(href=entries['home']) go home?]

block footer
  // Clear footer
