extends include/layout

block prepend head
  - var current = 'about'
  title about

block content
  h1 about
  p.
    There's not a whole lot to say about me, I really said it all on the home page, what more do you want from me?<br/>
    #[a(href='gemini://tilde.team/~nytpu') Check me out on Gemini!] (requires gemini client, I recommend #[a(href='http://bombadillo.colorfield.space/') bombadillo]). (I'm also on gopher at #[a(href='gopher://tilde.team/1/~nytpu') gopher://tilde.team/1/~nytpu])
  ul(style='list-style-type: none;')
    li #[a(href='https://tilde.team/~nytpu/') tilde.team]: ~nytpu
    li #[a(href='https://tildegit.org/nytpu') tildegit]: nytpu
    li #[a(href='https://github.com/nytpu') github]: nytpu
    li #[a(href='https://letterboxd.com/nytpu/') letterboxd]: nytpu
    li #[a(href='https://bandcamp.com/nytpu') bandcamp]: nytpu
    li #[s keybase.io]: The outcome of a company I trust merging with a #[a(href='https://www.businessinsider.com/zoom-facing-multiple-reported-security-issues-amid-coronavirus-crisis-2020-4') company I don't] has always been a company I don't trust.
    li More accounts coming when I get not-lazy and finally decide which accounts I want public or not

  //br
  //blockquote
    //p#bquotebody
    //footer#bquoteauthor
  //br

  hr
  h2 copyright
  p Unless otherwise noted, all content is &#169; #{year} and is licensed under the following terms:
    p.
      #[a(rel='license' href='http://www.wtfpl.net/') #[img(src='img/wtfpl.png' alt='WTFPL')]]<br/>
      The source code and visual design of this website is covered by the #[a(rel='license' href='http://www.wtfpl.net') WTFPL]. The source code is publicly avalaible on #[a(href='https://github.com/nytpu/nytpu.github.io') GitHub].
    p.
      #[a(rel='license' href='http://creativecommons.org/licenses/by/4.0/') #[img(src='img/creativecommons.png' alt='Creative Commons License')]]<br/>
      All content on this website, excluding the visual design, is covered by the #[a(rel='license' href='http://creativecommons.org/licenses/by/4.0/') Creative Commons Attribution 4.0 International License].
    p.
      The visual design of this website is based off of #[a(href='https://thebestmotherfucking.website/') tbmfw], which is covered by the #[a(rel='license' href='http://www.wtfpl.net') WTFPL]. The visual design of this website is also covered by the WTFPL, as mentioned previously.
    p.
      The font used is #[a(href='https://fonts.google.com/specimen/Open+Sans') Open Sans by Steve Matteson] and is covered by the #[a(href='http://www.apache.org/licenses/LICENSE-2.0') Apache License, Version 2.0.]
    p.
      Any content that is not included in the antecedent terms have All Rights Reserved.

  p If anyone believes that content used on this site infringes upon their rights, please send an email to #[a(href='mailto:dmca@nytpu.com') dmca@nytpu.com] with a proper complaint under the Digital Millennium Copyright Act, 17 U.S.C. &#167; 512. The complaint will be handled according to the procedures given in 17 U.S.C. &#167; 512.

  script(type='text/javascript', src='./js/quotes.js')

block footer
  p this website uses #[a(href='http://www.vanilla-js.com/') #[img(src='img/vanillajs.png' alt='VanillaJS')]]

