extends include/layout

block prepend head
  - var current = 'Projects'
  title Cegielski Gif Archive

block content
  h1 Cegielski Gif Archive
  h2 By MR. CEGIELSKI, INC.

  p Currently unfinished, will keep adding more as I go through his presentations. Click any gif to download.

  - for (var x = 1; x <= 46; x++)
    a(href='img/cegielski/'+x+'.gif' download) #[img(src='img/cegielski/'+x+'.gif' alt="Cegielski gif" style='max-width:100%;')]
    <br>

block footer
  p Copyright unknown for all images included on this page. No ownership claimed for any image. For additional copyright info see #[a(href=entries['About']) About].
