extends include/layout

block prepend head
  - var current = 'home'
  title nytpu.com

block content
  h1 hello, world!
  p Hi! I'm Alex, I work on random computer or electronics related projects, usually for really old things.
  p I also take pictures but they're not that great.
  p Feel free to look at my:
    ul(style='list-style-type:none;')
      li #[a(href=entries['projects']) projects — programming/electronics projects that have been semi-formally written up and summarized]
      li #[a(href='https://git.sr.ht/~nytpu/') My sourcehut, where you can find all sorts of stuff that I do]
      //li #[a(href=entries['essays']) essays — selected writings of mine about various subjects]
      li #[a(href='gemini://nytpu.com') gemini site] — the place i wish i could stay in instead of the web
      li #[a(href='gopher://nytpu.com') or gopher] if that's more your speed
      li #[a(href='gemini://nytpu.com/gemlog/') gemlog (requires gemini)]
      li #[a(rel='me' href='https://tilde.zone/@nytpu') microblog (mastodon)]
