extends include/layout

block prepend head
  - var current = 'home'
  title nytpu.com

block content
  h1 hello, world!
  p Hi! I'm nytpu, I work on random computer or electronics related projects, usually for really old things.
  p I also take pictures but am too insecure to post even my best ones publicly.
  p Feel free to look at my:
    ul(style='list-style-type:none;')
      li #[a(href=entries['projects']) projects — any ones that have been semi-formally written up and summarized]
      li #[s #[a(href='') pictures]]
      li #[a(href='gemini://tilde.team/~nytpu') gemini site] — the place i wish i could stay in instead of the web]
      li #[a(href='gopher://tilde.team/1/~nytpu') or gopher] if that's more your speed
