doctype html
html(lang=en)
  head
    title www.nytpu.com

    meta(charset='utf-8')
    meta(name='theme-color', content='#ffffff')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='author', content='nytpu')
    meta(name='description', content="nytpu's personal site")

    link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css2?family=Open+Sans')
    link(rel='stylesheet', type='text/css', href='./css/main.css')
  body
    h1 Hello, world!
    p test #[a(href='http://localtest.me') LOOOOONG test] Hello tooo

    script(type='text/javascript', src='./js/main.js')
