@body-background-color: #FEFEFE;
@body-text-color: #454545;

@link-color: #07A;
@link-visited-color: #941352;
@link-sidebar-color: #525252;
@link-sidebar-current-color: #212121;

@footer-color: #666666;

html {
  background-color: @body-background-color;
}

body {
  font-family: 'Open Sans', sans-serif;
}

div.sidebar {
  position: fixed;
  margin: auto 1.25em;
  font-size: 18px;
  line-height: 1.6;

  h2 {
    line-height: 1.4;
  }  

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  a {
    color: @link-sidebar-color;
    text-decoration: none;

    &:hover {
      border-bottom: 1px dotted @link-sidebar-color;
    }

    &:visited {
      color: @link-sidebar-color;
    }
  }

  a#selected {
    color: @link-sidebar-current-color;
    border-bottom: 1px solid @link-sidebar-current-color;
  }
}

div.content {
  color: @body-text-color;
  font-size: 16px;
  margin: 2em auto;
  max-width: 800px;
  padding: 1em;
  line-height: 1.4;
  text-align: justify;
}

a {
  color: @link-color; 
}

a:visited {
  color: @link-visited-color;
}

div#e404 {
  text-align: center;
  margin:0 auto;
}

small {
  font-size: 0.5em;
}

.footer {
  width: 100%;
  margin: 7rem auto 1rem;
  font-size: 0.8125rem;
  color: @footer-color;
  text-align: center;
}

@media screen and (max-width: 500px) {
  body {
    text-align: left;
  }
}
