<div id="footer">
<h4><a href="https://www.nytpu.com">home</a></h4>
&#169; 2020. for additional copyright info see <a href="https://www.nytpu.com/about">about</a>.</br>
this blog is mirrored on gemini at <a href="gemini://nytpu.com:1965/blog/">gemini://nytpu.com:1965/blog/</a></br>
it's also mirrored on gopher at <a href="gopher://nytpu.com:70/blog/">gopher://nytpu.com:70/blog/</a></br>
generated with <a href="https://tildegit.org/team/bashblog">bashblog</a>, a single bash script to easily create blogs like this one</div>
</div></div>
</body></html>
