extends ../include/essay

block prepend head
  title a review & analysis of ad astra

block essay_content
  include:markdown-it(html) markdown/ad-astra.md

block footer
  p &#169; #{year}. all writing on this page is licensed under the cc by-nd. for additional copyright info see #[a(href=entries['about']) about].
  p this page is availaible on gemini at: #[a(href="") not posted yet]
  //p!= "this page viewable in markdown form at <a href='" + essays["none for now, but one's coming soon :)"].replace(/^(.*)\/(.*)$/,"$1/markdown/$2.md") + "'>" + projects["none for now, but one's coming soon :)"].replace(/(.*)\/(.*)$/,"$1/markdown/$2.md") + "</a>"
