extends ../include/project

block prepend head
  title dev timer

block project_content
  include:markdown-it markdown/dev-timer.md

block footer
  p &#169; #{year}. for additional copyright info see #[a(href=entries['about']) about].
  p!= "this page viewable in markdown form at <a href='" + projects['photo printing timer'].replace(/^(.*)\/(.*).html$/,"$1/markdown/$2.md") + "'>" + projects['photo printing timer'].replace(/(.*)\/(.*).html$/,"$1/markdown/$2.md") + "</a>"
