extends ../include/project

block prepend head
  title untitled gba game

block project_content
  h1 #[em game] — a game boy advance game
  p see my #[a(href='https://tilde.team/~nytpu/blog/tag_gbagame.html') blog] for current progress updates.
  p or check out the code at #[a(href='https://tildegit.org/nytpu/game') tildegit].
